body {
    margin: 10px;
    padding: 5px;
    color: #669;
}

header {
    font-size: 55pt;
    font-weight: bold;
    text-align: right;
    letter-spacing: -8px;
    color: #ddddff;
    margin: 0px 5px 10px 0px;
    border-bottom: 1px solid #99c;
}

footer {
    color: #99c;
    font-size: 12pt;
    text-align: right;
    border-bottom: 1px solid #99c;
    margin: 25px 0px 10px 0px;
    position: relative;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;
    color: #77a;
    margin: -50px 0px 0px 0px;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.form_frame{
    padding: 1em 1em 0.5em 1em;
    margin: 0 1rem 0 1rem;
    background: white;
    border-top: solid 5px rgb(127, 182, 255);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.button_md {
    width: 120px;
}

.button_sm {
    width: 80px;
}

.modal_label{
    font-size: 20px;
    padding-top: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.modal_input{
    margin-top: 1%;
    margin-bottom: 1%;
}

.modal_input_year{
    width: 85px;
}

.modal_input_month{
    width: 65px;
}

.modal_input_day{
    width: 65px;
    margin-left: 10px;
}

.modal_input_date_delimiter{
    margin-top: 5px;
    margin-left: 10px;
}

.burger_menu_link{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.burger_menu_link_logout{
    display: block;
    margin-top: 50px;
}

.display_flex{
    display: flex;
}

.is_over {
    border: 1px solid #ffff00;
    background-color: #ffffe0;
}

.is_not_over {
    border: 1px solid rgb(165, 181, 201);
    background-color: rgb(241, 241, 241);
}

.div_link {
    position: relative;
    margin-bottom: 50px;
}

.div_link_left {
    position: absolute;
    left: 0;
}

.div_link_right {
    display: initial;
    text-align: right;
    padding: 0px;
}

.margin_top_5 {
    margin-top: 5px;
}

.cursor_pointer {
    cursor : pointer;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #005b99;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    text-decoration: none;
    outline: none;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }