body {
    margin: 10px;
    padding: 5px;
    color: #669;
}

header {
    font-size: 55pt;
    font-weight: bold;
    text-align: right;
    letter-spacing: -8px;
    color: #ddddff;
    margin: 0px 5px 10px 0px;
    border-bottom: 1px solid #99c;
}

footer {
    color: #99c;
    font-size: 12pt;
    text-align: right;
    border-bottom: 1px solid #99c;
    margin: 25px 0px 10px 0px;
    position: relative;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;
    color: #77a;
    margin: -50px 0px 0px 0px;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.form_frame{
    padding: 1em 1em 0.5em 1em;
    margin: 0 1rem 0 1rem;
    background: white;
    border-top: solid 5px rgb(127, 182, 255);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.button_md {
    width: 120px;
}

.button_sm {
    width: 80px;
}

.modal_label{
    font-size: 20px;
    padding-top: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.modal_input{
    margin-top: 1%;
    margin-bottom: 1%;
}

.modal_input_year{
    width: 85px;
}

.modal_input_month{
    width: 65px;
}

.modal_input_day{
    width: 65px;
    margin-left: 10px;
}

.modal_input_date_delimiter{
    margin-top: 5px;
    margin-left: 10px;
}

.display_flex{
    display: flex;
}

.is_over {
    border: 1px solid #ffff00;
    background-color: #ffffe0;
}

.is_not_over {
    border: 1px solid rgb(165, 181, 201);
    background-color: rgb(241, 241, 241);
}

.div_link {
    position: relative;
    margin-bottom: 50px;
}

.div_link_left {
    position: absolute;
    left: 0;
}

.div_link_right {
    display: initial;
}