body {
    margin: 10px;
    padding: 5px;
    color: #669;
}

header {
    font-size: 55pt;
    font-weight: bold;
    text-align: right;
    letter-spacing: -8px;
    color: #ddddff;
    margin: 0px 5px 10px 0px;
    border-bottom: 1px solid #99c;
}

footer {
    color: #99c;
    font-size: 12pt;
    text-align: right;
    border-bottom: 1px solid #99c;
    margin: 25px 0px 10px 0px;
    position: relative;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;
    color: #77a;
    margin: -50px 0px 0px 0px;
    padding-top: 120px;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.white{
    background-color: #fafbfd;
}

.yellow{
    background: lightyellow;
}

.gray{
    background: gainsboro;
}

.formFrame{
    padding: 1em 1em 0.5em 1em;
    margin: 0 1rem 0 1rem;
    background: white;
    border-top: solid 5px rgb(127, 182, 255);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.buttonLg {
    width: 180px;
}

.buttonMd {
    width: 120px;
}

.buttonSm {
    width: 80px;
}

.modalLabel{
    font-size: 20px;
    padding-top: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.modalInput{
    margin-top: 1%;
    margin-bottom: 1%;
}

.modalInputYear{
    width: 85px;
}

.modalInputMonth{
    width: 65px;
}

.modalInputDay{
    width: 65px;
    margin-left: 10px;
}

.modalInputNum{
    width: 70px;
}

.modalInputDateDelimiter{
    margin-top: 5px;
    margin-left: 10px;
}

.burgerMenuLink{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.burgerMenuLinkLogout{
    display: block;
    margin-top: 50px;
}

.displayFlex{
    display: flex;
}

.displayInline{
    display: inline;
}

.isOver {
    border: 1px solid #ffff00;
    background-color: #ffffe0;
}

.isOverDailyTask {
    border: 1px solid lightskyblue;
    background-color: lightblue;
}

.isNotOver {
    border: 1px solid rgb(165, 181, 201);
    background-color: rgb(241, 241, 241);
}

.divLink {
    position: relative;
    margin-bottom: 50px;
}

.divLinkLeft {
    position: absolute;
    left: 0;
}

.divLinkRight {
    display: initial;
    text-align: right;
    padding: 0px;
}

.marginTop5 {
    margin-top: 5px;
}

.paddingTop10 {
    padding-top: 10px;
}

.marginSide10 {
    margin-left: 10px;
    margin-right: 10px;
}

.cursorPointer {
    cursor : pointer;
}

.bmBurgerButton {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.bmBurgerBars {
    background: #373a47;
}

.bmBurgerBarsHover {
    background: #005b99;
}

.bmCrossButton {
    height: 24px;
    width: 24px;
}

.bmCross {
    background: #bdc3c7;
}

.bmMenuWrap {
    position: fixed;
    height: 100%;
}

.bmMenu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bmMorphShape {
    fill: #373a47;
}

.bmItemList {
    color: #b8b7ad;
    padding: 0.8em;
}

.bmItem {
    display: inline-block;
    text-decoration: none;
    outline: none;
}

.bmOverlay {
    background: rgba(0, 0, 0, 0.3);
}
