.task_item {
    border: 1px solid rgb(127, 182, 255);
    margin: 12px;
    border-radius: 4px;
    width: 300px;
    background-color: #fafbfd;
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,.1);
    padding: 4px 2px;
    cursor : pointer;
}

.task_item_title {
    font-size: 18px;
    margin: 0 8px 4px;
    border-bottom: 1px solid #333;
    text-align: left;
    padding: 4px 8px;
    display: table;
    width: 90%;
}

.task_item_description {
    word-wrap: break-word;
    padding: 8px 8px 0px 8px;
    margin: 0 8px 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
}

.task_item_icon{
    display: table-cell;
    text-align: left;
    cursor : pointer;
}