.taskComment{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #fafbfd;
    border-left: solid 6px rgb(127, 182, 255);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.taskCommentIcon{
    display: table-cell;
    text-align: left;
    cursor : pointer;
}

.taskCommentCancelIcon{
    float: right;
    cursor : pointer;
}

.taskCommentIcons{
    margin-left: 85%;
}

.taskCommentIcon{
    padding-left: 10px;
    padding-right: 10px;
}

.taskCommentButtonFrame{
    margin-left: 60%;
    margin-top: 2%;
    display: flex;
}

.taskCommentButton{
    margin-left: 5%;
    margin-right: 5%;
}

.taskCommentLoad{
    text-align: center;
    cursor : pointer;
}
