.task_comment{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #fafbfd;
    border-left: solid 6px rgb(127, 182, 255);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.task_comment_icon{
    display: table-cell;
    text-align: left;
    cursor : pointer;
}

.task_comment_cancel_icon{
    float: right;
    cursor : pointer;
}

.task_comment_icons{
    margin-left: 85%;
}

.task_comment_icon{
    padding-left: 10px;
    padding-right: 10px;
}

.task_comment_button_frame{
    margin-left: 60%;
    margin-top: 2%;
    display: flex;
}

.task_comment_button{
    margin-left: 5%;
    margin-right: 5%;
}

.task_comment_load{
    text-align: center;
    cursor : pointer;
}